*,
body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc;
  color: #000;
}

a {
  color: #f00;
}

.geometries-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
}

.list-item {
  display: flex;
  margin-top: 5px;
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
